@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
your adress
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">benkouider.adnane@gmail.com</a><br />
  
</address>
